body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

header {
    left: 0;
    z-index: 9997;
    transition: all 0.5s;
}

#nav-toggle {
    z-index: 9998;
    border-radius: 50%;
}

@media (max-width: 991px) {
    header {
        width: 200px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -200px;
    }

    .nav-active header {
        left: 0;
    }

    #page {
      margin-right: 50px;
    }
}

@media (min-width: 991px) {
  #page {
    margin-left: 100px;
  }
}

#sidebar a,
#sidebar a:focus {
    color: #45505b;
    background: #f2f3f5;
    padding: 10px 18px;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

@media (min-width: 992px) {
    #sidebar a:not(:hover),
    #sidebar a:not(:hover):focus {
        width: 56px;
    }

    #sidebar a:not(:hover) span,
    #sidebar a:not(:hover):focus span {
        display: none;
    }
}

#sidebar a:hover,
#sidebar .active,
#sidebar .active:focus,
#sidebar li:hover>a {
    color: #fff;
    background: #0563bb;
}

.carousel-caption {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}